<p id="notice"><%= notice %></p>


<% content_for :page_title,  "Dining Halls" %>

<div class="section">
	<div class="container">
		<% Hall.all.each do |hall| %>
			<div class="card">
		  <div class="card-content">
		    <div class="media">
		      <div class="media-content">
		        <p class="title is-4"><%= link_to hall.name, hall  %></p>
		      </div>
		    </div>
		  </div>
		</div>
		<% end %>
	</div>
</div>
